@use 'colors';
@use 'fonts';
@use 'layout';

:root {
	--font-heading: "Roboto Slab";
	--font-body: "Roboto";
	--color-main: #8BCFDF;
	--color-main-dark: #264052;
	--color-accent: #F8B2BF;
	--color-accent-dark: #662632;
	--color-accent-secondary: #D6CB62;
	--color-accent-secondary-dark: #B17D1F;
}

.index,
.search,
.special {
	header h1 {
		display: none;
	}
}

main {
	padding-top: 0;
	
	.search {
		text-align: center;
	
		h2 {
			display: none;
		}

		label {
			grid-template-columns: none;
			justify-content: center;
		}
	}

	.tips {
		li {
			b {
				background-color: var(--color-accent-dark);
			}
		}
	}

	.num-results {
		background-color: var(--color-gray-dark);
		font-weight: var(--font-bold);
		text-align: center;
		text-transform: uppercase;
	}
	
	.results {
		text-align: left;
	
		a {
			color: var(--color-white);
		}
	}
	
	.result {
		background-color: var(--color-gray-dark);
		border: var(--space-border) solid var(--color-gray-med);
		border-radius: var(--space-border);
		margin: var(--space-small) 0;
		padding: var(--space-xxlarge) var(--space-super);
		position: relative;
	
		@media (min-width: layout.$media-tablet) {
			padding: var(--space-xsuper) var(--space-xxsuper);
		}
	
		.share {
			color: var(--color-white);
			font-size: inherit;
			font-size: larger;
			position: absolute;
			right: var(--space-small);
			top: var(--space-xsmall);
		}
	
		h3,
		h4 {
			color: var(--color-white);
		}
	
		&.safe {
			background-color: var(--color-main-dark);
			border: var(--space-border) solid var(--color-main);
	
			a {
				color: var(--color-main);
	
				&:hover,
				a:active {
					color: var(--color-white);
				}
			}
		}
	
		&.unsafe {
			background-color: var(--color-accent-dark);
			border: var(--space-border) solid var(--color-accent);
	
			a {
				color: var(--color-accent);
	
				&:hover,
				a:active {
					color: var(--color-white);
				}
			}
		}
	
		&.caution {
			background-color: var(--color-accent-secondary-dark);
			border: var(--space-border) solid var(--color-accent-secondary);
	
			a {
				color: var(--color-accent-secondary);
	
				&:hover,
				a:active {
					color: var(--color-white);
				}
			}
		}
	}
}